@import url("https://p.typekit.net/p.css?s=1&k=bkx3uli&ht=tk&f=16353.37462.37464.37466&a=41161691&app=typekit&e=css");

* {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.loginText {
  animation: moveUpDown 2s ease-in-out infinite;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(-100px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-100px);
  }
}

.vh-custom {
  height: 75vh;
}
